@font-face {
    font-family: 'Roboto-Thin';
    src: url(./fonts/Nunito-BoldItalic.ttf);
}
  @font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Nunito-BoldItalic.ttf);
}
  
/* PAGE SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #2D3640;
    color: white;
    font-family: "Poppins", sans-serif;
    
    transition: all 0.1s ease-in;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw; */
    height: 100vh;
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    /* border-right: 2px solid transparent; */
}
